@using CarRentwithDB.ViewModels
@using Microsoft.AspNetCore.Identity
@model DetailsBoardViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="display-4 fw-normal">Twoje wypożyczenia</h1>
<div class="album py-5">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Cars)
            {
                <div class="col-12 mb-4 ">
                    <div class="bg-white rounded shadow p-4">
                        <div class="d-flex align-items-center">
                            <div class="me-3">
                                <img src="@item.Image" alt="@item.Make @item.Model" class="img-fluid rounded" style="max-width: 150px;">
                            </div>
                            <div>
                                <h5 class="mb-1">@item.Make @item.Model</h5>
                                <p class="mb-1">Numer rejestracyjny: @item.LicencePlate</p>
                                <a type="button" asp-controller="Car" asp-action="Details" asp-route-id="@item.CarId"
                                   class="btn btn-success btn-sm">Podgląd</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
