@using CarRentwithDB.ViewModels
@model UserDetailViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <h1 class="display-4 fw-normal my-4 d-flex justify-content-between align-items-center">
        @($"{Model.Name} {Model.Surname}")
        @if (Model.UserType == CarRentwithDB.Data.Enum.UserType.Customer)
        {
            <a href="@Url.Action("EditUserProfile", "Account")" class="btn btn-primary">
                Edytuj
            </a>
        }
    </h1>

    <div class="row">
        <div class="col-md-8">
            <h3 class="my-3">Dane użytkownika:</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item border-success">
                    <strong>Rodzaj użytkownika:</strong> @EnumExtensions.TranslateUserType(Model.UserType)
                </li>
                <li class="list-group-item border-success">
                    <strong>Numer telefonu:</strong> @Model.Phone
                </li>
                <li class="list-group-item border-success">
                    <strong>Email:</strong> @Model.Email
                </li>

                @if (Model.UserType == CarRentwithDB.Data.Enum.UserType.Employee)
                {
                    <li class="list-group-item">
                        <strong>Dodane samochody:</strong> @Model.Cars.Count() samochodów
                        @if (Model.Cars != null && Model.Cars.Any())
                        {
                            <ul class="mt-2">
                                @foreach (var car in Model.Cars)
                                {
                                    <li>
                                        <strong>Marka i model:</strong> @car.Make @car.Model <br />
                                        <strong>Numer rejestracyjny:</strong> @car.LicencePlate
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p class="mt-2 text-muted">Brak dodanych aut</p>
                        }
                    </li>
                }

                @if (Model.UserType == CarRentwithDB.Data.Enum.UserType.Customer)
                {
                    <li class="list-group-item">
                        <strong>Wypożyczenia:</strong>
                        @if (Model.Rentals != null && Model.Rentals.Any())
                        {
                            <ul class="mt-2">
                                @foreach (var rental in Model.Rentals)
                                {
                                    <li>
                                        <strong>Marka i model:</strong> @rental.Car.Make @rental.Car.Model <br />
                                        <strong>Numer rejestracyjny:</strong> @rental.Car.LicencePlate <br />
                                        <strong>Data wypożyczenia:</strong> @rental.StartDate.ToShortDateString() <br />
                                        <strong>Data zwrotu:</strong> @rental.EndDate.ToShortDateString()
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p class="mt-2 text-muted">Brak wypożyczeń</p>
                        }
                    </li>
                }
            </ul>
        </div>

        <div class="col-md-4 text-center ">
            <img src="@Model.Image"
                 alt="Zdjęcie użytkownika"
                 class="img-fluid rounded-circle shadow border border-success"
                 style="max-width: 300px; max-height: 300px; object-fit: cover; " />
        </div>
    </div>
</div>
