@model IEnumerable<AppUser>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Lista użytkowników";
}
<h1 class="display-4 fw-normal">Lista użytkowników</h1>
<div class="album py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-4 mx-auto text-white">
                <form class="d-flex justify-content-center mt-4 mb-5" role="search" method="get" asp-action="Index" asp-controller="Account">
                    <input class="form-control me-2" name="name" type="search" placeholder="Wpisz Imię ..." aria-label="Search" style="max-width: 400px;">
                    <input class="form-control me-2" name="surname" type="search" placeholder="Wpisz Nazwisko ..." aria-label="Search" style="max-width: 400px;">
                    <input class="form-control me-2" name="email" type="search" placeholder="Wpisz Email ..." aria-label="Search" style="max-width: 400px;">
                    <input class="form-control me-2" name="phone" type="search" placeholder="Wpisz Numer Telefonu ..." aria-label="Search" style="max-width: 400px;">
                    <button class="btn btn-success" type="submit">Szukaj</button>
                </form>
            </div>
            <div class="mt-3">
                <h3>Wyniki wyszukiwania</h3>
                <hr/>
            @foreach (var item in Model)
            {
                <div class="col-12 mb-4">
                    <div class="bg-white rounded shadow p-4">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <h5 class="mb-1">@item.Name @item.Surname</h5>
                                <p class="mb-1">Email: <span class="text-muted">@item.Email</span></p>
                                <p class="mb-1">Typ użytkownika: <span class="badge bg-primary">@EnumExtensions.TranslateUserType(item.UserType)</span></p>
                            </div>
                            <div>
                                <a asp-controller="Account" asp-action="Details" asp-route-id="@item.Id" 
                                   class="btn btn-success btn-sm">Podgląd</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
</div>
