@using CarRentwithDB.Data.Enum
@using CarRentwithDB.ViewModels
@model CarRentwithDB.Models.Car
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Usuń pojazd";
}
<div class="container mt-5">
    <div class="shadow rounded p-4 bg-white border border-danger">
        <div class="d-flex align-items-center text-danger mb-3" style="gap:1rem;">
        <i class="bi bi-exclamation-triangle-fill" style="font-size: 2.5rem;"></i>
        <h4>Czy na pewno chcesz usunąć @Model.Make @Model.Model?</h4>
        </div>
        <p>Samochód: <strong>@Model.Make @Model.Model</strong></p>
        <p>Rok produkcji: <strong>@Model.Year</strong></p>
        <p>VIN: <strong>@Model.VIN</strong></p>
        <p>Numer rejestracyjny: <strong>@Model.LicencePlate</strong></p>

    </div>
</div>
<div class="form-group">
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="CarId" />
        <div class="d-flex justify-content-between mt-4">
            <a asp-action="Index" class="btn btn-success">Anuluj</a>
        <input type="submit" value="Usuń" class="btn btn-danger float-right" />
        </div>
    </form>
</div>
