@model Car
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">

    <h1 class="my-4">
        @($"{Model.Make} {Model.Model}")
        <small>@Model.Year</small>
    </h1>

    <div class="row">

        <div class="col-md-8">
            <img class="card-img-top img-fluid" src="@Model.Image" alt="Card image cap" style="width: 100%;">
        </div>


        <div class="col-md-4">
            <h3 class="my-3">Opis</h3>
            <p>@Model.Description</p>
            
        </div>

    </div>
    <h3 class="my-4">Dane szczegówłowe</h3>

    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <h3 class="my-3">Ogólne</h3>
            <ul>
                <li>Nazwa: @($"{Model.Make} {Model.Model}")</li>
                <li>Rocznik: @Model.Year</li>
                <li>Miasto: @Model.City</li>
                <li>Typ auta: @EnumExtensions.TranslateCarType(Model.carType)</li>
                <li>Cena za dzień: @Model.DailyRate zł</li>
                <li>Przebieg: @Model.Mileage km</li>
                <li>Kolor: @EnumExtensions.TranslateCarColor(Model.carColor)</li>
                <li>Dostępność: @EnumExtensions.TranslateAvailability(Model.IsAvailable)</li>
            </ul>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h3 class="my-3">Techniczne</h3>
            <ul>
                @if (Model.CarDetails != null)
                {
                    <li>Paliwo: @EnumExtensions.TranslateFuelType(Model.fuelType) </li>
                    <li>Konie mechaniczne: @Model.CarDetails.HorsePower KM</li>
                    <li>Pojemność silnika: @Model.CarDetails.EngineCapacity L</li>
                    <li>Skrzynia biegów: @EnumExtensions.TranslateTransmissionType(Model.CarDetails.TransmissionType)</li>
                }
                else
                {
                    <li>Paliwo: brak danych</li>
                    <li>Konie mechaniczne: brak danych</li>
                    <li>Pojemność silnika: brak danych</li>
                    <li>Skrzynia biegów: brak danych</li>
                }
            </ul>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <h3 class="my-3">Ergonomiczne</h3>
            <ul>
                @if (Model.CarDetails != null)
                {
                    <li>Liczba miejsc: @Model.CarDetails.Seats </li>
                    <li>pojemność bagażnika: @Model.CarDetails.TrunkCapacity L</li>

                }
                else
                {
                    <li>Liczba miejsc: brak danych </li>
                    <li>pojemność bagażnika: brak danych</li>
                }
            </ul>
        </div>

        

    </div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("customer"))
    {
        <div class="text-end mt-4">
            <form asp-controller="Rental" asp-action="Create" method="get">
                <input type="hidden" name="carId" value="@Model.CarId" />
                <button type="submit" class="btn btn-primary">Wypożycz</button>
            </form>
        </div>
    }
</div>
