@model IEnumerable<Car>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{

}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row py-lg-4 position-relative">
            <div class="col-lg-6 col-lg-8 mx-auto text-dark text-center">
                <h1>Jakiego auta szukasz?</h1>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach(var item in Model){
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top img-fluid" src="@item.Image" alt="Card image cap" style="height: 225px; object-fit: cover;">
                        <div class="overlay-category" style="position: absolute; top: 0; left: 0; width: 30%; background-color: rgba(0, 0, 0, 0.3); color: white; padding: 5px; text-align: center; border-radius: 4px;">
                            @item.City 
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@($"{item.Make} {item.Model}")</h5>
                            <p class="text-primary fw-bold">Cena: @item.DailyRate PLN / dzień</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="Car" asp-action="Details" asp-route-id="@item.CarId" class="btn btn-sm btn-outline-secondary">Podgląd</a>
                                    @if (User.IsInRole("employee"))
                                    {
                                        <a asp-controller="Car" asp-action="Edit" asp-route-id="@item.CarId" class="btn btn-sm btn-outline-secondary">Edytuj</a>
                                        <a asp-controller="Car" asp-action="Delete" asp-route-id="@item.CarId" class="btn btn-sm btn-outline-secondary">Usuń</a>
                                    }
                                </div>
                                <small class="@(item.IsAvailable ? "text-success" : "text-danger")">
                                    @EnumExtensions.TranslateAvailability(item.IsAvailable)
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (User.IsInRole("employee"))
            {
                <div class="col">
                    <div class="card shadow-sm">
                    <img class="card-img-top img-fluid" src="https://us.123rf.com/450wm/ariesticon/ariesticon2006/ariesticon200600197/149275546-plus-ikona-na-bia%C5%82ym-tle-dodaj-ikon%C4%99-plusa-znak-dodawania-medyczna-ikona-plusa.jpg" alt="Card image cap" style="height: 225px; object-fit: cover;">
                    <div class="card-body">
                        <p class="card-text">Dodaj</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-controller="Car" asp-action="Create" class="btn btn-sm btn-outline-secondary">Dodaj</a>
                                    
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>