@model IEnumerable<Car>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{

}
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach(var item in Model){
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top img-fluid" src="@item.Image" alt="Card image cap" style="height: 225px; object-fit: cover;">
                        <div class="card-body">
                            <p class="card-text">@item.Make</p>
                            <p class="card-text">@item.Model</p>
                            <p class="card-text">@item.Year</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="Car" asp-action="Details" asp-route-id="@item.CarId" class="btn btn-sm btn-outline-secondary">View</a>
                                    @if (User.IsInRole("employee"))
                                    {
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (User.IsInRole("employee"))
            {
                <div class="col">
                    <div class="card shadow-sm">
                    <img class="card-img-top img-fluid" src="https://us.123rf.com/450wm/ariesticon/ariesticon2006/ariesticon200600197/149275546-plus-ikona-na-bia%C5%82ym-tle-dodaj-ikon%C4%99-plusa-znak-dodawania-medyczna-ikona-plusa.jpg" alt="Card image cap" style="height: 225px; object-fit: cover;">
                    <div class="card-body">
                        <p class="card-text">Dodaj</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-controller="Car" asp-action="Create" class="btn btn-sm btn-outline-secondary">Dodaj</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>