@using CarRentwithDB.ViewModels
@model HomeViewModel
@{
    ViewData["Title"] = "Wypożyczalnia";
}

<section class="py-5 text-center bg-image position-relative" style="background-image: url('/img/amanda-sandlin-jIdKrtJF8Uk-unsplash.jpg'); background-size: cover; background-position: center;margin-top:-20px; background-repeat: no-repeat; width: 100vw; margin-left: calc(50% - 50vw); min-height: 600px;">
    <div class="overlay"></div>

    <div class="row py-lg-5 position-relative">
        <div class="col-lg-6 col-md-8 mx-auto text-white">
            <h1>Wypożyczalnia Samochodów</h1>
            @if (User.Identity.IsAuthenticated)
            {
                <p class="lead">
                    Witaj w naszej wypożyczalni! Wybierz idealny samochód dla siebie i ciesz się komfortową podróżą.
                </p>
            }
            else
            {
                <p class="lead">Witaj w naszej wypożyczalni! Zaloguj się, aby móc wybrać idealny samochód dla siebie i cieszyć się komfortową podróżą.</p>
            }
            <form class="d-flex justify-content-center mt-4" role="search" method="get" asp-action="Index" asp-controller="Car">
                <input class="form-control me-2" name="makeModel" type="search" placeholder="Wpisz markę i model..." aria-label="Search" style="max-width: 400px;">
                <div class="input-group me-2" style="max-width: 400px;">
                    <span class="input-group-text bg-white" id="location-btn">
                        <img src="~/img/location.png" alt="Lokalizacja" style="width: 20px; height: 20px;">
                    </span>
                    <input class="form-control" name="city" type="search" placeholder="Szukaj miasta..." aria-label="Search">
                </div>
                <select class="form-control me-2 text-muted" name="type" style="max-width: 400px;">
                    <option value="">Wybierz typ samochodu</option>
                    @foreach (var carType in Enum.GetValues(typeof(CarRentwithDB.Data.Enum.CarType)))
                    {
                        <option value="@carType">@EnumExtensions.TranslateCarType((CarRentwithDB.Data.Enum.CarType)carType)</option>
                    }
                </select>

                <button class="btn btn-success" type="submit">Szukaj</button>
            </form>
        </div>
    </div>

</section>

<div class="container py-5 text-center">
    <h3 class="fw-bold mb-4">Wybierz swój idealny samochód</h3>
    <div class="cars-row d-flex flex-wrap justify-content-center align-items-center">
        <div class="car-icon">
            <a asp-area="" asp-controller="Car" asp-action="Index" asp-route-type="Sedan">
                <img src="~/img/sedan.png" alt="Sedan">
                <p class="mt-2"><strong>Sedan</strong></p>
            </a>
        </div>
        <div class="car-icon">
            <a asp-area="" asp-controller="Car" asp-action="Index" asp-route-type="SUV">
                <img src="~/img/suv.png" alt="SUV">
                <p class="mt-2"><strong>SUV</strong></p>
            </a>
        </div>
        <div class="car-icon">
            <a asp-area="" asp-controller="Car" asp-action="Index" asp-route-type="Hatchback">
                <img src="~/img/hatchback.png" alt="Hatchback">
                <p class="mt-2"><strong>Hatchback</strong></p>
            </a>
        </div>
        <div class="car-icon">
            <a asp-area="" asp-controller="Car" asp-action="Index" asp-route-type="Convertible">
                <img src="~/img/cabriolet.png" alt="Kabriolet">
                <p class="mt-2"><strong>Kabriolet</strong></p>
            </a>
        </div>
        <div class="car-icon">
            <a asp-area="" asp-controller="Car" asp-action="Index" asp-route-type="Minivan">
                <img src="~/img/minivan.png" alt="Minivan">
                <p class="mt-2"><strong>Minivan</strong></p>
            </a>
        </div>
        <div class="car-icon">
            <a asp-area="" asp-controller="Car" asp-action="Index" asp-route-type="Coupe">
                <img src="~/img/coupe.png" alt="Coupe">
                <p class="mt-2"><strong>Coupe</strong></p>
            </a>
        </div>
        <div class="car-icon">
            <a asp-area="" asp-controller="Car" asp-action="Index" asp-route-type="StationWagon">
                <img src="~/img/stationwagon.png" alt="Kombi">
                <p class="mt-2"><strong>Kombi</strong></p>
            </a>
        </div>
        <div class="car-icon">
            <a asp-area="" asp-controller="Car" asp-action="Index" asp-route-type="PickupTruck">
                <img src="~/img/pickuptruck.png" alt="Pickup">
                <p class="mt-2"><strong>Pickup</strong></p>
            </a>
        </div>
        <div class="car-icon">
            <a asp-area="" asp-controller="Car" asp-action="Index" asp-route-type="SportsCar">
                <img src="~/img/sportscar.png" alt="Auto sportowe">
                <p class="mt-2"><strong>Sportowy</strong></p>
            </a>
        </div>
    </div>
</div>

<div class="text-center container py-5">
    <h3 class="fw-bold mb-4">Dlaczego warto wybrać CarRentwithDB?</h3>
    <p class="lead">CarRentwithDB oferuje Państwu szeroką gamę samochodów w różnych miastach. Dzięki wygodnym filtrom z łatwością znajdziesz samochód dopasowany do swoich potrzeb. </p>
    <p class="text-muted">
        Nasza flota pojazdów jest na bieżąco serwisowana, ubezpieczona i gotowa do jazdy od ręki! Zapewniamy profesjonalną infolinie, obsługę oraz elastyczne warunki wynajmu. 
        Dostępność samochodów możesz sprawdzić w zakładce <strong>Mapa.</strong>
    </p>
    <p class="text-muted">Masz pytanie lub chcesz odwołać wypożyczenie? Serdecznie zapraszamy do kontaktu z naszymi pracownikami - chętnie pomożemy!</p>
    <div>
    <p class ="text-muted">
        <i class="bi bi-telephone-fill me-2"></i><strong>Infolinia:</strong> +48 777 163 998</p>
    <p class="text-muted">
        <i class="bi bi-envelope-fill me-2"></i><strong>Email:</strong> CarRentwithDB@kontakt.pl
        </p>
    </div>
</div>
<div class="container py-3   mt-5">
    <h3 class="fw-bold mb-4 text-center">Zaufaj nam!</h3>
    <div class="row justify-content-center text-center">
        <div class="col-md-4">
            <div class="card shadow-sm border-0 h-100 p-4">
                <h4 class="fw-bold">@Model.TotalCars+</h4>
                <p class="text-muted">Dostępnych samochodów</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm border-0 h-100 p-4">
                <h4 class="fw-bold">@Model.TotalRentals+</h4>
                <p class="text-muted">Zrealizowanych wypożyczeń</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm border-0 h-100 p-4">
                <h4 class="fw-bold">@Model.TotalUsers+</h4>
                <p class="text-muted">Zadowolonych klientów</p>
            </div>
        </div>
    </div>
</div>
<script src="~/js/location.js"></script>





